<%- include("../partials/header") %>

<h1 style="text-align: center" class="heading">Nagarro</h1>

<div >
  <%- include("../partials/flash") %>

  <form class="validated-form" action="/login" method="POST" novalidate>
    <div class="mb-3 login-div" style="font-weight: 600; color: rgba(255, 48, 155, 0.6)">
      <label for="username" class="form-label">Username:</label>
      <input
        type="text"
        class="form-control"
        id="username"
        placeholder="Enter Username "
        name="username"
        required
      />
    </div>
    <div class="mb-3" style="font-weight: 600; color: rgba(255, 48, 155, 0.6)">
      <label for="password" class="form-label">Password:</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Enter Password "
        name="password"
        required
      />
      
    <br />

    <button type="submit" class="btn btn-login">Login</button>
    <br>
    <button class="btn"> <a href="/register">Sign-up</a></button>

  </form>
</div>

<%- include("../partials/footer") %>
